:root {
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --thirdly-background-color: #f5f4fa;
  --icons-color: #afb1b8;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  color: var(--main-text-color);
}

.button {
  cursor: pointer;
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  transition-property: color, fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.padding0 {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-style: normal;
  color: #2196f3;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-color {
  color: var(--main-title-color);
}

.logo-color-footer {
  color: white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero-section {
  text-align: center;
  padding-bottom: 210px;
  padding-top: 200px;
  background-color: var(--secondary-background-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: currentColor;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link .social-icon {
  fill: white;
}

.section1-header {
  visibility: hidden;
}

.section2-header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.modal-form-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.portfolio-header {
  visibility: hidden;
}

.section3-header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.header-icon {
  margin-right: 10px;
}

.header-main {
  border-bottom: 1px solid #ececec;
}

.portfolio-header {
  visibility: hidden;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  box-shadow: 1px, 0px, 2px rgba(0, 0, 0, 0.2), 1px, 0px, 1px rgba(0, 0, 0, 0.14), 3px, 0px, 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-btn {
  display: flex;
  display: block;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  transition: fill 250ms var(--transition);
}

.modal-btn:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  display: block;
}

.modal-form-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
}

.modal-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message:hover,
.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  fill: var(--main-title-color);
  transition: fill 250ms var(--transition);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.form-input-wrap:hover .modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.form-input-wrap {
  display: block;
  position: relative;
}

.form-input-wrap:hover .modal-form-input {
  border-color: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition);
}

.modal-form-button {
  align-self: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--transition);
  display: block;
  margin: 0 auto;
}

.modal-form-button:hover {
  background-color: #188ce8;
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  cursor: pointer;
}

.modal-check-box:checked + .modal-form-checkbox-label::before {
  border: none;
  background-image: url(../images/check.svg);
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
}

.modal-form-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-btn {
  display: flex;
  display: block;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  transition: fill 250ms var(--transition);
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.header-main {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}

.nav-pos {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: auto;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition-property: color, fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  background-color: var(--accent-color);
  bottom: -12px;
}

.header-icon {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.nav-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    display: block;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-contacts .nav-contacts__item + .nav-contacts__item {
  margin-left: 0px;
}

@media screen and (min-width: 1200px) {
  .nav-contacts .nav-contacts__item + .nav-contacts__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.nav-contacts__link {
  display: flex;
  fill: currentColor;
  vertical-align: middle;
  text-decoration: none;
  color: var(--main-text-color);
  align-items: center;
  transition-property: color, fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--accent-color);
}

.mobile-menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  display: block;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button-icon {
  width: 24px;
  height: 16px;
}

.overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/phone-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/phone-hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet-hero.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet-hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero@2x.jpg");
  }
}

.hero-title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-btn {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 0px;
  margin: auto;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 120px;
  background-color: var(--thirdly-background-color);
  border-radius: 4px;
}

.icon-box svg {
  display: flex;
}

@media screen and (min-width: 768px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.section1 .item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section1 .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section1 .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0px;
  }
}

.section1-header {
  visibility: hidden;
}

.section1-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-title-color);
}

@media screen and (min-width: 768px) {
  .section1-title {
    text-align: left;
  }
}

.section1-text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .about-us-section {
    display: none;
  }
}

.section2 {
  display: flex;
}

.section2 .item {
  position: relative;
}

.section2 .item + .item {
  margin-left: 30px;
}

.section2-header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.about-us-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.about-us-box {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.section3 {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .section3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .section3 {
    margin-bottom: 0;
  }
}

.item-color {
  background-color: white;
}

.card-align {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section3 .item {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

@media screen and (min-width: 768px) {
  .section3 .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section3 .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.section3 .item + .item {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .section3 .item + .item {
    margin-left: 30px;
  }
}

.section3-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .section3-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section3-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.section3-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section4-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .section4-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .company-list {
    margin-bottom: 0;
  }
}

.company-list .item {
  height: 92px;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .company-list .item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .company-list .item {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.company-icon {
  fill: #afb1b8;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
}

.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--accent-color);
}

.company-link:hover, .company-link:focus {
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-title {
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-social-title {
    text-align: left;
  }
}

.footer-address {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: white;
}

.address-margin .item + .item {
  margin-top: 9px;
}

.footer-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.join-us-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-us-container {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.subscribe-section {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-section {
    text-align: left;
  }
}

.footer-form {
  text-align: center;
}

.subscribe-form-input {
  width: 100%;
  min-height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--first-background-color);
}

.subscribe-form-input:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-form-input {
    display: block;
    width: 450px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form-input {
    display: inline;
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.subscribe-form-container {
  display: block;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form-container {
    text-align: left;
    display: flex;
  }
}

.subscribe-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  margin: 0 auto;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: white;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.form-btn:hover, .form-btn:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-btn:hover, .form-btn:focus {
    margin-left: 12px;
  }
}

.form-btn-icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-logo {
  margin-right: 0px;
}

.footer-wrap {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    text-align: left;
  }
}

.footer-inf {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-inf {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.btn-list .item + .item {
  margin-left: 8px;
}

.help-btn {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.help-btn:hover, .help-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: inherit;
  color: white;
  background-color: var(--accent-color);
}

.list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.list-item-text {
  margin-top: 4x;
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.help-card-align {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.help-card-list {
  display: flex;
  flex-wrap: wrap;
}

.help-card-list .item:hover,
.help-card-list .item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.help-card-list .link {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.help-box-link:hover .service-box-text {
  transform: translateY(-100%);
}

.service-box-text {
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow-y: scroll;
}

.help-box-align {
  position: relative;
  overflow: hidden;
}

.help-card-list img {
  display: block;
}

.help-card-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primary-title-color);
  border-radius: 0px 0px 4px 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.help-card-list .item:nth-child(3n) {
  margin-right: 0px;
}

.help-card-list .item:nth-child(n + 7) {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */