:root {
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --thirdly-background-color: #f5f4fa;
  --icons-color: #afb1b8;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
