.list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.list-item-text {
  margin-top: 4x;

  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.help-card-align {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  @media screen and(min-width:768px) {
    flex-grow: 1;
  }
}

.help-card-list {
  margin-bottom: -30px;

  & .item:hover,
  & .item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.help-card-list .item {
  margin-bottom: 30px;
  background: var(--primary-title-color);

  border-radius: 0px 0px 4px 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.help-card-list .item:nth-child(3n) {
  @media screen and (min-width: 1200px) {
    margin-right: 0px;
  }
}

.help-card-list .item:nth-child(n + 7) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.help-card-list .link {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.help-box-link {
  display: flex;
  flex-direction: column;
  flex-basis: 370px;
  &:hover .service-box-text {
    transform: translateY(-100%);
  }
}

.service-box-text {
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow-y: scroll;
}

.help-box-align {
  position: relative;
  overflow: hidden;
}
