.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.btn-list .item + .item {
  margin-left: 8px;
}

.btn-list .item:nth-child(4) {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
  }
}

.btn-list .item:nth-child(-n + 3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.help-btn {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-title-color);
  background-color: #f5f4fa;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    font-family: inherit;
    color: white;
    background-color: var(--accent-color);
  }
}
