.hero-section {
  text-align: center;
  padding-bottom: 210px;
  padding-top: 200px;

  background-color: var(--secondary-background-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
