p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: roboto, sans-serif;
  color: var(--main-text-color);
}

.button {
  cursor: pointer;
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;

  transition-property: color, fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.padding0 {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
